<main>
	<h1>Inicia Sesión</h1>
	<blockquote>
		Ingresa tu identificación de Pump.io.
		<br>
		<form action="token.php" method="post">
			<input type="text" name="pump_id" id="input" placeholder="Ejemplo: direccion@servidor.org"><br>
			<input id="boton" type="submit" value="Conectar"> 
		</form>
	</blockquote>
</main>